<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
   <a class="navbar-brand" href="#"> <i class="fa fa-Heart " style="color:white;font-size: 30px;">Lifestyle</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
    <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="mynav">
        <ul class="navbar-nav ml-auto">
           <li class="nav-item active" >

            <a  class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item " >

            <a  class="nav-link" href="{% url 'create' %}">Add Products</a>
            </li>
            <li class="nav-item" >

            <a  class="nav-link" href="{% url 'select' %}">View Products</a>
            </li>
            <li class="nav-item" >

            </ul>
         </div></div></nav>
<!--<center>-->
<!--    <div class="spinner-border text-primary" role="status">-->
<!--  <span class="visually-hidden">Loading...</span>-->
<!--</div></center>-->

<div style="background-color:black" id="slides" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1" ></li>

    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="static/lifestyle.jpg" width="100%" height="100%">
        </div>

        <div class="carousel-item" style="width: 100%">
         <img src="static/lifestyle2.jpg" width="100%" height="100%">
        </div>

        <div class="carousel-item" style="width: 100%">
         <img src="static/lifestyle1.jpg" width="100%" height="100%">
        </div>
    </div>
</div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>